// Menu

:root {
  --landscape-width: 22; // % OR vw for responsive window resizing! 22
  --portrait-width: 100%;
  --header-height: 35px;
  --secs: 0.6s;
  --bg-left: springgreen;
  --bg-right: cyan;
  --bg-main: lemonchiffon;
}

.navbar {
  height: 6.25rem;
  .collapse {

   .navbar-nav{
    display: flex;
    justify-content: flex-end;
    width: 100%;
   }
  }


}
